.accordion-item {
  /* padding-bottom: 20px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  /* margin-left: 30px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  align-items: left;
  text-align: left;
}

.accordion-title {
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
