/* General layout */
.location-app {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 10px;
}

.location-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; /* Allows sections to wrap on smaller screens */
}

/* Information Section */
.location-info-section {
  flex-grow: 1; /* Allow this section to grow */
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(238, 255, 141, 0.863);
  border-radius: 5px;
  min-width: 300px; /* Ensure a minimum width for small screens */
}

/* Map Section */
.location-map-section {
  flex-grow: 2; /* Allow the map section to take more space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(245, 243, 127, 0.438);
  min-width: 300px; /* Ensure a minimum width for small screens */
}

.location-section-title {
  background-color: #00467f;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.location-info-content {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

/* Media Queries for Responsiveness */

/* Small devices (max-width: 600px) */
@media (max-width: 600px) {
  .location-container {
    flex-direction: column; /* Stack sections vertically */
    gap: 0; /* Reduce gap for small screens */
  }

  .location-info-section,
  .location-map-section {
    width: 100%; /* Full width for both sections */
    margin-bottom: 20px; /* Space between stacked sections */
  }

  .location-section-title {
    font-size: 18px;
  }

  .location-info-content {
    font-size: 14px;
  }
}

/* Medium devices (max-width: 768px) */
@media (max-width: 768px) {
  .location-info-section {
    width: 100%; /* Full width for content */
  }

  .location-map-section {
    width: 100%; /* Full width for map section */
  }

  .location-info-content {
    font-size: 15px;
  }

  .location-section-title {
    font-size: 18px;
  }
}

/* Large devices (max-width: 992px) */
@media (max-width: 992px) {
  .location-info-section,
  .location-map-section {
    width: 100%; /* Both sections take full width */
    margin: 30px;

  }

  .location-info-content {
    font-size: 16px;
  }
}
